<!DOCTYPE html>
<html>
<head>
<img src="WHLogo.jpg">
<meta charset="utf-8" />
<title>Woznica Horse Records</title>
</head>
<body>
  <h1>Lookup a Horse</h1>
  <form method="post">
    <fieldset>
      <legend>Horse Information</legend>
      <p><label for="barnname">Barn Name:</label>
         <input type="text" name="barnname" value="@Request.Form["barnname"]" />
      </p>

      <p><label for="showname">Show Name:</label>
         <input type="text" name="showname" value="@Request.Form["showname"]" />
      </p>

      <p><label for="foaldate">Foal Date:</label>
         <input type="text" name="foaldate" value="@Request.Form["foaldate"]" />
      </p>

      <p><input type="submit" name="buttonSubmit" value="Find Horse" /></p>
    </fieldset>
  </form>
</body>
</html>